<div>
  <ul class="list-unstyled">
    <li class="alert"
        [ngClass]="{'alert-success': item.completed, 'alert-info':!item.completed}"
        *ngFor="let item of todoItems">
      <input type="button"
             *ngIf="!item.completed"
             class="btn btn-sm btn-danger"
             value="X"
             (click)="markCompleted(item)" />
      <span [ngClass]="{'completed': item.completed}"> {{ item.description }}</span>
    </li>

  </ul>
  <input type="button"
         (click)="removeCompleted()"
         class="btn btn-lg btn-primary"
         value="Remove Completed" />
</div>
